html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

* {
	box-sizing: border-box;
	font-family: 'Permanent Marker', cursive;
}

body {
	font-family: 'Permanent Marker', cursive;
}

button:hover {
	cursor: pointer;
}

.App {
	height: 100vh;
	display: grid;
	grid: "nav nav" 1fr
				"form-area joke-area" 6fr
				"footer footer" 1fr
				/ 1fr 4fr;
}

.nav {
	color: black;
	background-color: rgb(151, 190, 72);
	padding: 0 50px;
	border: 1px solid black;
	grid-area: nav;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav > h1 {
	padding: 10px;
	font-size: 2.5rem;
}

.nav > h1:hover {
	cursor: pointer;
	font-size: 2.5rem;
}

.form-area {
	color: white;
	background-color: rgb(121, 10, 146);;
	border: 1px solid black;
	grid-area: form-area;
}

.joke-container {
	background-color: rgb(204, 238, 238);
	padding: 20px;
	border: 1px solid black;
	grid-area: joke-area;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 375px;
	gap: 10px;
}

.joke-container > div {
	box-shadow: 0 0 5px black;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
}

.joke-card {
	position: relative;
	padding: 35px 5px 0 5px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
}

.joke-card > .delete-button {
	background-color: rgb(133, 15, 15);
	width: 30px;
	font-weight: bold;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	position: absolute;
	top: 3px;
	right: 3px;
}

.joke-card > .delete-button:hover {
	background-color: rgb(106, 12, 12);
}


.joke-card > h2 {
	font-size: 1.4rem;
	border-bottom: 2px solid black;
	letter-spacing: 0.5px;
}

.joke-text {
	line-height: 25px;
	font-size: 1.1rem;
	flex: 1;
	display: flex;
	align-items: center;
	margin: 0 40px;
	letter-spacing: 2px;
}

.bottom-items {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
}

.bottom-items > .category {
	padding: 5px;
	border: 3px solid black;
	border-radius: 10px;
}

.edit-button {
	font-size: 1.1rem;
	border-radius: 5px;
}

.pen {
	width: 15px;
	height: auto;
	margin-right: 10px;
}

.footer {
	padding: 10px;
	background-color: rgb(221, 176, 13);
	border: 1px solid black;
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
}



.edit-form {
	padding: 5px 5px 0 5px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.edit-form > h2 {
	text-align: center;
}

.new-joke-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
}

.new-joke-form > h2 {
	font-size: 1.7rem;
	text-align: center;
	margin: 25px 0;
}

.new-joke-form ul > li > label {
	font-size: 1.2rem;
}

.new-joke-form > button {
	font-size: 1.3rem;
}

.form-buttons {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 5px;
	gap: 5px;
}

.search-form {
	display: flex;
	align-items: center;
	gap: 10px;
}

.search-form > label {
	font-size: 1.3rem;
}

.filter-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 8px;
}

form > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form > ul > li {
  display: flex;
  flex-direction: column;
	gap: 5px;
}

.filter-container > h2 {
	font-size: 1.5rem;
}

.theme-button {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
}

.delete-confirmation {
	text-align: center;
	color: black;
	font-size: 1.2rem;
	line-height: 25px;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.confirmation-buttons {
	display: flex;
	gap: 20px;
}

.confirmation-buttons > button {
	font-size: 1.1rem;
}

.confrim-delete-btn {
	background-color: rgb(133, 15, 15);
	color: white;
	border: 1px solid black;
	border-radius: 5px;
}

.context-buttons {
	width: 180px;
	justify-content: center;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 900px) {
	.App {
		grid: "nav" 150px
					"form-area" 650px
					"footer" 400px
					"joke-area" 1fr
					/ 1fr;
	}

	.nav {
		padding: 0 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	.search-form > label {
		font-size: 0.8rem;
	}

	.footer {
		flex-direction: column-reverse;
	}

	.filter-container {
		justify-content: center;
	}

	.context-buttons {
		margin: 20px;
	}
}